.main-heading{
   background-image: url(../images/bg-img-f1.png);
//    background-size: cover;
     background-size: cover;
     background-position: center;
   background-repeat: no-repeat;
//    max-width: 100%;
   margin-top: 66px;
    h1{
        max-width: 470px;
        margin:auto;
        text-align: center;
        padding: 178px 0 90px;
        font-family: "DM Serif Display", serif;
        color: #FFFFFF;
        font-size: 7rem;
        font-weight: 400;
       
    }
}
.search{
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    margin: auto;
    margin-top: 53px;
    padding: 34px 36px;
    
    border-radius: 20px;
    background-color: #F4F0EC;
    align-items: center;
    p{
        color: #CDA274;
        font-size: 2.2rem;
        font-family: "Jost", sans-serif;

    }
}
@media only screen and (max-width: 850px){
    .main-heading h1{
        padding-bottom: 50px;
        padding-top: 100px;
        font-size: 5rem;

    }
    .search{
        padding: 20px 20px;
        margin-top: 30px;
        margin-inline: 60px;
        p{
            font-size: 1.8rem;
        }
        img{
            width: 20px;
            height: 20px;
    }
    .main-heading{
        margin-top: 40px;
        background-position: center;
    }
   
    }
}
@media only screen and (max-width: 450px){
    .main-heading h1{
        padding-top: 70px;
        font-size: 2.5rem;
        
    }
    .main-heading{
        margin-top: 20px;
        background-position: center;
    }
    .search{
        padding: 10px 15px;
        margin-top: 30px;
        margin-inline: 30px;
        p{
            font-size: 1.5rem;
        }
        img{
            width: 15px;
            height: 15px;
        }
    }
}